<head>
  <title>Filho da Puta!</title>
</head>

<body>
  {{> page}}
</body>

<template name="page">
  <div id="main" class="row-fluid">
    <div id="left" class="span8">
	{{> lobby }}
	{{> minhascartas }}
	{{> cartasjogadas }}
    </div>
    <div id="right" class="span4">
	{{#if currentUser}}
	{{else}}
		{{loginButtons}}
	{{/if}}
	{{> predictions}}
	{{> myprediction}}
	{{> scores }}
	{{> avisos}}
	{{> vitorias }}
	{{> conversa }}
    </div>
  </div>
</template>

<template name="lobby">
	{{#if show}}
	<div id="lobby" class="hero-unit">
    		<h1>Filho da Puta!</h1>
    		<p>Faca login para jogar. E comece a jogar com qualquer um...</p>
    		<p>
      			{{#if count}}
      				<h4>{{count}} outros jogadores estao aqui:</h4>
      				{{#each waiting }}
      					<div class="player">{{profile.name}}</div>
      				{{/each}}
      			{{/if}}
		      <div>
			<button id="startgame" class="startgame btn" {{{disabled}}}>
			  {{#if count}} It's on! {{else}} Jogar Sozinho {{/if}}
			</button>
			<a href="#myModal" role="button" class="btn" data-toggle="modal">Eu nao sei jogar!</a>
		      </div>
    		</p>
	</div>
	<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
			<h3 id="myModalLabel">Regras do Jogo</h3>
		</div>
		<div class="modal-body">
			<p>Esse jogo é muito parecido com truco. O valor das cartas é o mesmo, cada pessoa joga uma carta por rodada, e o vencedor daquela rodada inicia a próxima.</p>
			<p>A diferença é que, assim que as cartas são entregues no início do round (não necessariamente são 3 cartas por vez), cada pessoa deve dizer quantas rodadas irá vencer naquele round. O seu objetivo nesse round passa a ser cumprir o que você falou.</p>
			<p>Ao final do round, a diferença entre o que você venceu e o que disse que venceria é o número de pontos que você perde. Cada pessoa começa com 5 pontos. Quem chegar a 0 é eliminado. Quem sobrar é o vencedor :).</p>
			<p>E ah, mais uma coisa: não existem empates em cada rodada. Então, duas cartas com a mesma figura seguem a seguinte ordem das manilhas: Paus, Copas, Espadas e Ouros. Exatamente como as manilhas</p>
		</div>
		<div class="modal-footer">
			<button class="btn" data-dismiss="modal" aria-hidden="true">Ok! Aprendi!</button>
		</div>
	</div>
	{{/if}}
</template>

<template name="scores">
    {{#if show}}
    <table class="table table-striped">
	<tr>
		<th>Jogador</th>
		<th>Pontuacao</th>
	</tr>
      {{#each players}}
	<tr>
		<td>{{name}}</td>
		<td>{{points}}</td>
	</tr>
      {{/each}}
    </table>
    {{/if}}
</template>

<template name="predictions">
  {{#if show}}
    <table class="table table-striped">
	<tr>
		<th>Jogador</th>
		<th>Previsao</th>
	</tr>
      {{#each predictions}}
	<tr>
		<td>{{name}}</td>
		<td>{{pred}}</td>
	</tr>
      {{/each}}
    </table>
    {{/if}}
</template>

<template name="minhascartas">
	{{#if show}}
	<div id="minhascartas">
		{{#each mycards}}
			<a class="minha-carta" id="carta_{{na}}_{{nu}}" href="#"><img src="{{imagem na nu}}" width="60"></img></a>
		{{/each}}	
	</div>
	{{/if}}
</template>

<template name="cartasjogadas">
	{{#if show}}
	<div id="cartasjogadas">
		<p>Cartas Jogadas</p>
		<table class="table">
		<tr><th>R</th>
		{{#each playedcards.0.plays}}
			<th>{{name}}</th>
		{{/each}}
		</tr>
		{{#each playedcards}}
			<tr>
			<td>Round {{number}}</td>
			{{#each plays}}
				<td><img src="{{imagem card.na card.nu}}" width="50"></img></td>
			{{/each}}
			</tr>
		{{/each}}
		</table>
	</div>
	{{/if}}
</template>

<template name="vitorias">
	{{#if show}}
	<table class= "table table-striped" id="vitorias">
		<tr><th>Vencedor</th></tr>
		{{#each vits}}
			<tr><td>{{winner.name}}</td></tr>	
		{{/each}}
	</table>
	{{/if}}
</template>

<template name="myprediction">
	<div>
    		{{#if show}}
			<div class="input-append">
    				<input class="span2" id="myprediction" type="text">
    				<button class="btn" type="button">Go!</button>
    			</div>
			<p id="predresultado"></p>
    		{{/if}}
  	</div>
</template>

<template name="avisos">
	{{#if vezdejogar}}
		<p class="text-info">Sua vez de jogar</p>
	{{/if}}
	{{#if vezdeprever}}
		<p class="text-info">Sua vez de prever</p>
	{{/if}}
</template>

<template name="conversa">
	{{#if show}}
		<h6>Bate-Papo</h6>
		<div id="minha-conversa">
		{{#each frases}}
			<p><b>{{name}}</b> : {{mensagem}}</p>
		{{/each}}
		</div>
		<div class="input-append">
    			<input class="span8" id="minha-fala" type="text">
    			<button class="btn" type="button">Enviar</button>
    		</div>
	{{/if}}
</template>
