body {
    margin: 0px;
    background-color: #f4f4f4;
    font-family: Helvetica, Arial, sans-serif;
}

#minhascartas {
	padding: 5px;
	border:1px solid;
	border-radius:5px;
	-moz-border-radius:5px;
	background-color: green;
}

#minha-conversa{
       _height: expression( this.scrollHeight > 332 ? "333px" : "auto" ); /* sets max-height for IE6 */
       min-height:100px;
       max-height: 333px; /* sets max-height value for all standards-compliant browsers */
       overflow:scroll;
}

#minha-conversa p{
	width:95%;
}
